.blur {
  filter: blur(4px);
}

h1 {
  font-weight: 200;
  font-size: 32px;
  text-align: center;
  margin: 1rem 0;
}

/* Fluid font size */
@media (min-width: 400px) and (max-width: 800px) {
  h1 {
    font-size: calc(32px + (64 - 32) * ((100vw - 400px) / (800 - 400)));
  }
}
@media (min-width: 800px) {
  h1 {
    font-size: 64px;
  }
}

#grid {
  margin: auto;
}

.grid-item { 
  width: 300px;
  margin-bottom: 5px;
  cursor: zoom-in;
}

.grid-item > img {
  width: 100%;
}

.fab {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  width: 2.5rem;
  height: 2.5rem;
  background: #1565c0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);

  text-align: center;
  line-height: 2.5rem;
  font-size: 2rem;
  color: white;
}

.lightbox {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lightbox {
  cursor: zoom-out;
}

#lightbox > a {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#lightbox > img {
  max-width: 90%;
  max-height: 90%;
  cursor: auto;
}

#addForm > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  
  color: white;
}

#addForm img {
  max-width: 100%;
  margin-bottom: 1rem;
}

#addForm input {
  margin-bottom: 1.5rem;
  width: 100%;
}

#addForm label {
  margin-bottom: 0.5rem;
}