.editForm {
  display: flex;
  flex-direction: column;
}

.editForm h2 {
  margin: 0;
  margin-bottom: 1rem;
}

.editForm label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.editForm label:last-of-type {
  margin-bottom: 1rem;
}

.editForm span {
  width: 100px;
  padding-right: 8px;
  text-align: right;
}

.editForm label input {
  flex: 1 1 auto;
  padding: 0.1rem;
}

.editForm button:not(:last-of-type) {
  margin-right: 0.5rem;
}